

@media (min-width: 0px) {
      .sportsheadlines{
         margin-left: 60px;
      }
      .indexheadlines{
         margin-left: 90px;
      }
      .img_jared1 {
         margin-left: 50px;
      }
      .headlines{
         margin-left: 105px;
      }
      .jaredrow1{
         margin-left: 60px;
      }
     .jaredrow2{
        margin-top: 50px;
        margin-left: 60px;
     }
     .jaredrow3{
         margin-top: 50px;
         margin-left: 60px;
     }
     .jaredrow4{
        margin-top: 50px;
        margin-left: 60px;
     }
     .jaredrow5{
        margin-top: 50px;
        margin-left: 60px;
     }
     .jaredrow6{
      margin-top: 50px;
      margin-left: 60px;
   }
     .paperrow1{
         margin-left: 60px;
      }
     .paperrow2{
        margin-top: 50px;
        margin-left: 60px;
     }
     .paperrow3{
        margin-top: 50px;
        margin-left: 60px;
     }
     .paperrow4{
        margin-top: 50px;
        margin-left: 60px;
     }
     .paperrow5{
        margin-top: 50px;
        margin-left: 60px;
     }
     .paperrow6{
        margin-top: 50px;
        margin-left: 60px;
     }
     .paperrow7{
        margin-top: 50px;
        margin-left: 60px;
     }
     .paperrow8{
        margin-top: 50px;
        margin-left: 60px;
     }
     .paperrow9{
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: 60px;
     }
     .stocksrow1{
      margin-left: 60px;
      }
      .stocksrow2{
     margin-top: 50px;
     margin-left: 60px;
      }
      .stocksrow3{
      margin-top: 50px;
      margin-left: 60px;
      }
     .sportsrow1{
         margin-left: 60px;
      }
     .sportsrow2{
        margin-top: 50px;
        margin-left: 60px;
     }
     .sportsrow3{
        margin-top: 50px;
        margin-left: 60px;
     }
     .sportsrow4{
        margin-top: 50px;
        margin-left: 60px;
     }
     .sportsrow5{
        margin-top: 50px;
        margin-left: 60px;
     }
     .sportsrow6{
        margin-top: 50px;
        margin-left: 60px;
     }
     .sportsrow7{
        margin-top: 50px;
        margin-left: 60px;
     }
     .sportsrow8{
        margin-top: 50px;
        margin-left: 60px;
     }
     .sportsrow9{
      margin-top: 50px;
      margin-left: 60px;
   }
     .wdrow1{
         margin-left: 60px;
      }
     .wdrow2{
        margin-top: 50px;
        margin-left: 60px;
     }
     .wdrow3{
         margin-top: 50px;
         margin-left: 60px;
     }
     .wdrow4{
      margin-top: 50px;
      margin-left: 60px;
  }
     .smrow1{
         margin-left: 60px;
      }
     .smrow2{
         margin-top: 50px;
         margin-left: 60px;
      }
      .smrow3{
         margin-top: 50px;
         margin-left: 60px;
      }
      .smrow4{
         margin-top: 50px;
         margin-left: 60px;
      }
      .smrow5{
         margin-top: 50px;
         margin-left: 60px;
      }
      .back-button {
         margin-left: 60px;
      }
   }

@media (min-width: 768px) {
      .headlines {
         margin-left: 20px;
      }
      .sportsheadlines{
         margin-left: 20px;
      }
      .indexheadlines {
         margin-left: 20px;
      }
      .img_jared1 {
         margin-left: 0px;
      }
      .jaredrow1{
        margin-top: 0px;
        margin-left: 0px;
      }
      .jaredrow2{
        margin-top: 0px;
        margin-left: 0px;
      }
      .jaredrow3{
        margin-top: 0px;
        margin-left: 0px;
      }
      .jaredrow4{
        margin-top: 50px;
        margin-left: 0px;
      }
      .jaredrow5{
         margin-top: 50px;
         margin-left: 0px;
      }
      .jaredrow6{
         margin-top: 50px;
         margin-left: 0px;
      }
      .paperrow1{
        margin-top: 0px;
        margin-left: 0px;
      }
      .paperrow2{
        margin-top: 0px;
        margin-left: 0px;
      }
      .paperrow3{
        margin-top: 0px;
        margin-left: 0px;
      }
      .paperrow4{
        margin-top: 50px;
        margin-left: 0px;
      }
      .paperrow5{
        margin-top: 50px;
        margin-left: 0px;
      }
      .paperrow6{
        margin-top: 50px;
        margin-left: 0px;
      }
      .paperrow7{
        margin-top: 50px;
        margin-left: 0px;
      }
      .paperrow8{
        margin-top: 50px;
        margin-left: 0px;
      }
      .paperrow9{
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: 0px;
      }
      .stocksrow1{
         margin-top: 0px;
         margin-left: 0px;
      }
      .stocksrow2{
        margin-top: 0px;
        margin-left: 0px;
      }
      .stocksrow3{
         margin-top: 0px;
         margin-left: 0px;
      }
      .sportsrow1{
        margin-top: 0px;
        margin-left: 0px;
      }
      .sportsrow2{
        margin-top: 0px;
        margin-left: 0px;
      }
      .sportsrow3{
        margin-top: 0px;
        margin-left: 0px;
      }
      .sportsrow4{
        margin-top: 50px;
        margin-left: 0px;
      }
      .sportsrow5{
        margin-top: 50px;
        margin-left: 0px;
      }
      .sportsrow6{
        margin-top: 50px;
        margin-left: 0px;
      }
      .sportsrow7{
        margin-top: 50px;
        margin-left: 0px;
      }
      .sportsrow8{
        margin-top: 50px;
        margin-left: 0px;
      }
      .sportsrow9{
         margin-top: 50px;
         margin-left: 0px;
       }
      .wdrow1{
         margin-top: 0px;
         margin-left: 0px;
      }
      .wdrow2{
        margin-top: 0px;
        margin-left: 0px;
      }
      .wdrow3{
         margin-top: 0px;
         margin-left: 0px;
      }
      .wdrow4{
         margin-top: 50px;
         margin-left: 0px;
     }
      .smrow1{
         margin-top: 0px;
         margin-left: 0px;
      }
      .smrow2{
         margin-top: 0px;
         margin-left: 0px;
      }
      .smrow3{
         margin-top: 0px;
         margin-left: 0px;
      }
      .smrow4{
         margin-top: 50px;
         margin-left: 0px;
      }
      .smrow5{
         margin-top: 50px;
         margin-left: 0px;
      }
      .back-button{
         margin-left: 0px;
      }
}

@media (min-width: 992px) {
      .jaredrow4{
         margin-top: 50px;
      }
      .jaredrow5{
         margin-top: 50px;
      }
      .jaredrow6{
         margin-top: 50px;
         margin-left: 0px;
      }
}

@media (min-width: 1200px) {
      .jaredrow4 {
        margin-top: 50px;
      }
      .jaredrow5 {
         margin-top: 50px;
       }
       .jaredrow6{
         margin-top: 50px;
         margin-left: 0px;
      }
}


.img_jared1 {
   width: 270px;
}

.img_jaredsm {
   width: 270px;
}
.img_jaredstocks {
   height: 260px;
}
.img_jaredsports:hover, .img_jaredsm:hover, .img_jaredweb:hover, .img_jaredport:hover, .img_jaredschool:hover, .img_jaredstocks:hover {
   opacity: .75;
   transform: scale(1.04);
}

.img_jaredweb {
   width: 290px;
}

.img_jaredport {
    width: 290px;
    height: 260px;
}
.divImage1 {
   width: 280px;
   height: 280px;
   background: url('../images/Papers-Electric2.png') no-repeat;
   margin: auto;
} 
.divImage2 {
   width: 280px;
   height: 280px;
   background: url('../images/Papers-Electric1.png') no-repeat;
   margin: auto;
}

/* body {
   background-color: black;
} */

#lightbutton {
   float: left;
}

#darkbutton {
   float: left;
   margin-left: 30px;
}
#randombgbutton {
   float: left;
   margin-left: 30px;
}

#fullbutton {
   float: left;
   margin-right: 35px;
}

#fullbuttonmain {
   float: left;
   margin-left: 10px;
}
#fullbuttonsports {
   float: left;
   margin-left: 25px;
}

#togglebutton1 {
   float: right;
   margin-right: 30px;
}

#togglebutton2 {
   float: right;
   margin-right: 30px;
}

#togglebutton3 {
   float: right;
   margin-right: 30px;
}
#togglebutton4 {
   float: right;
   margin-right: 50px;
}

#tieredbutton {
   float: right;
   margin-right: 25px;
}

#bowlbutton {
   float: right;
   margin-right: 25px;
}

#diiibutton {
   float: right;
   margin-right: 15px;
}



#mensbutton {
   float: right;
   margin-right: 25px;
}

#womensbutton {
   float: right;
   margin-right: 25px;
}

#majorbutton {
   float: right;
   margin-right: 50px;
}

#randombutton {
   float: right;
   margin-right: 30px;
}

#lightbutton:hover {
   transform: scale(1.15);
}

#darkbutton:hover {
   transform: scale(1.15);
}
#fullbutton:hover {
   transform: scale(1.15);
}
#fullbuttonmain:hover {
   transform: scale(1.15);
}
#fullbuttonsports:hover {
   transform: scale(1.15);
}

#togglebutton1:hover {
   transform: scale(1.15);
}

#togglebutton2:hover {
   transform: scale(1.15);
}

#togglebutton3:hover {
   transform: scale(1.15);
}
#togglebutton4:hover {
   transform: scale(1.15);
}
#randombutton:hover {
   transform: scale(1.15);
}

.back-button:hover {
   transform: scale(1.15);
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.fbimg:hover {
   opacity: .75;
}
.linkedinimg:hover {
   opacity: .75;
}
.twitterimg:hover {
   opacity: .75;
}
.igimg:hover {
   opacity: .75;
}


.footer1 {
   position: relative;
   bottom: 0;
   width: 100%;
   text-align: center;
}

hr.one {
    border: none;
    height: 10px;
}
#h2 {
   margin-top: 20px;
   font-size: 15px;
}
#h3 {
   font-size: 15px;
}
#h4 {
   font-size: 15px;
   margin-bottom: 20px;
}

.back-button{
   margin-top: 30px;
}

/* checked boxes */

input[type="checkbox"].toggle {
   opacity: 0;
   position: absolute;
   /* left: -9000px;
   top: -9000px; */
   display: block;
   /* position: relative; */
   overflow: hidden;
   /* box-sizing: border-box; */
}

input[type="checkbox"].toggle + label {
   display: flex;
   position: relative;
   align-items: center;
   cursor: pointer;
}

input[type="checkbox"].toggle + label::before {
   content: "";
   width: 2em;
   height: 1em;
   background-color: hsl(0, 0%, 80%);
   border-radius: 1em;
   margin-right: .25em;
   transition: background-color 200ms ease-in-out;
}

input[type="checkbox"].toggle + label::after {
   position: absolute;
   left: .1em;
   content: "";
   width: .9em;
   height: .9em;
   background-color: hsl(0, 0%, 90%);
   border-radius: 1em;
   transition: background-color 200ms ease-in-out, transform 200ms;
}
/* 
input[type="checkbox"].toggle:focus + label::before {
   outline: 2px solid black;
} */

input[type="checkbox"].toggle:checked + label::before {
   background-color: hsl(0, 0%, 30%);
}

input[type="checkbox"].toggle:checked + label::after {
   transform: translateX(100%);
   background-color: hsl(0, 0%, 0%);
}

.label {
   font-size: 35px;
}

/* comment section BeGeos Dev */

/* *::before, *::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   font-size: 16px;
   min-height: 100%;
}

body {
   min-height: 100vh;
}

.container1 {
   width: min(90%, 1140px);
   margin: 2rem auto;
   margin-left: 20px;
}

.comment__container {
   display: none;
   position: relative;
}

.comment__container.opened {
   display: block;
}

.comment__container::before {
   content: "";
   background-color: rgb(170, 170, 170);
   position: absolute;
   min-height: 100%;
   width: 1px;
   left: -10px;
}

.comment__container:not(:first-child) {
   margin-left: 3rem;
   margin-top: 1rem;

}

.comment__card {
   padding: 20px;
   background-color: white;
   border: 1px solid rgba(0, 0, 0, 0.3);
   border-radius: .5rem;
   min-width: 100%;
   box-shadow: 0 0 50px rgba(0, 0, 0, 0.1)
}

.comment__card h3, 
.comment__card p {
 margin-bottom: 1rem;
}

.comment__card-footer {
   display: flex;
   font-size: .85rem;
   opacity: .6;
   gap: 30px;
   justify-content: flex-end;
   align-items: center;
}

.show-replies {
   cursor: pointer;
} */

/* COMMENTS */
.comments__container{
   width: 800px;
   margin-top: 2rem;
}

.comment__card{
   width: 100%;
   height: 80px;
   display: grid;
   grid-template-columns: 10% auto;
   margin: 0.5rem;
   border-bottom: 1px solid #eee;
}

.comment__card .pic{
   background-color: #48cae4;
   border-radius: 50%;
   margin: 10%;
   font-size: 25px;
   color: white;
   text-transform: uppercase;
}

.comment__info{
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.comment__info .nickname{
   color: #aaa;
}

.comment__info .comment{
   margin: 5px 0;
}

.comment__info .comment__bottom{
   display: flex;
}

.comment__bottom .heart__icon--comment{
   font-size: 20px;
   margin-right: 20px;
   color: #eee;
}

/* add with JS */
.heart__icon--comment .fas.positive{
   color: #ffadad;
}

.comment__bottom button{
   border: none;
   background: transparent;
   color: #aaa;
   text-transform: uppercase;
   cursor: pointer;
}