

@media (min-width: 0px) {
      .sportsheadlines{
         margin-left: 60px;
      }
      .indexheadlines{
         margin-left: 90px;
      }
      .img_jared1 {
         margin-left: 50px;
      }
      .headlines{
         margin-left: 105px;
      }
      .jaredrow1{
         margin-left: 60px;
      }
     .jaredrow2{
        margin-top: 50px;
        margin-left: 60px;
     }
     .jaredrow3{
         margin-top: 50px;
         margin-left: 60px;
     }
     .jaredrow4{
        margin-top: 50px;
        margin-left: 60px;
     }
     .jaredrow5{
        margin-top: 50px;
        margin-left: 60px;
     }
     .paperrow1{
         margin-left: 60px;
      }
     .paperrow2{
        margin-top: 50px;
        margin-left: 60px;
     }
     .paperrow3{
        margin-top: 50px;
        margin-left: 60px;
     }
     .paperrow4{
        margin-top: 50px;
        margin-left: 60px;
     }
     .paperrow5{
        margin-top: 50px;
        margin-left: 60px;
     }
     .paperrow6{
        margin-top: 50px;
        margin-left: 60px;
     }
     .paperrow7{
        margin-top: 50px;
        margin-left: 60px;
     }
     .paperrow8{
        margin-top: 50px;
        margin-left: 60px;
     }
     .paperrow9{
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: 60px;
     }
     .stocksrow1{
      margin-left: 60px;
      }
      .stocksrow2{
     margin-top: 50px;
     margin-left: 60px;
      }
      .stocksrow3{
      margin-top: 50px;
      margin-left: 60px;
      }
     .sportsrow1{
         margin-left: 60px;
      }
     .sportsrow2{
        margin-top: 50px;
        margin-left: 60px;
     }
     .sportsrow3{
        margin-top: 50px;
        margin-left: 60px;
     }
     .sportsrow4{
        margin-top: 50px;
        margin-left: 60px;
     }
     .sportsrow5{
        margin-top: 50px;
        margin-left: 60px;
     }
     .sportsrow6{
        margin-top: 50px;
        margin-left: 60px;
     }
     .sportsrow7{
        margin-top: 50px;
        margin-left: 60px;
     }
     .sportsrow8{
        margin-top: 50px;
        margin-left: 60px;
     }
     .wdrow1{
         margin-left: 60px;
      }
     .wdrow2{
        margin-top: 50px;
        margin-left: 60px;
     }
     .wdrow3{
         margin-top: 50px;
         margin-left: 60px;
     }
     .smrow1{
         margin-left: 60px;
      }
     .smrow2{
         margin-top: 50px;
         margin-left: 60px;
      }
      .smrow3{
         margin-top: 50px;
         margin-left: 60px;
      }
      .smrow4{
         margin-top: 50px;
         margin-left: 60px;
      }
      .smrow5{
         margin-top: 50px;
         margin-left: 60px;
      }
      .back-button {
         margin-left: 60px;
      }
   }

@media (min-width: 768px) {
      .headlines {
         margin-left: 20px;
      }
      .sportsheadlines{
         margin-left: 20px;
      }
      .indexheadlines {
         margin-left: 20px;
      }
      .img_jared1 {
         margin-left: 0px;
      }
      .jaredrow1{
        margin-top: 0px;
        margin-left: 0px;
      }
      .jaredrow2{
        margin-top: 0px;
        margin-left: 0px;
      }
      .jaredrow3{
        margin-top: 0px;
        margin-left: 0px;
      }
      .jaredrow4{
        margin-top: 50px;
        margin-left: 0px;
      }
      .jaredrow5{
         margin-top: 50px;
         margin-left: 0px;
      }
      .paperrow1{
        margin-top: 0px;
        margin-left: 0px;
      }
      .paperrow2{
        margin-top: 0px;
        margin-left: 0px;
      }
      .paperrow3{
        margin-top: 0px;
        margin-left: 0px;
      }
      .paperrow4{
        margin-top: 50px;
        margin-left: 0px;
      }
      .paperrow5{
        margin-top: 50px;
        margin-left: 0px;
      }
      .paperrow6{
        margin-top: 50px;
        margin-left: 0px;
      }
      .paperrow7{
        margin-top: 50px;
        margin-left: 0px;
      }
      .paperrow8{
        margin-top: 50px;
        margin-left: 0px;
      }
      .paperrow9{
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: 0px;
      }
      .stocksrow1{
         margin-top: 0px;
         margin-left: 0px;
      }
      .stocksrow2{
        margin-top: 0px;
        margin-left: 0px;
      }
      .stocksrow3{
         margin-top: 0px;
         margin-left: 0px;
      }
      .sportsrow1{
        margin-top: 0px;
        margin-left: 0px;
      }
      .sportsrow2{
        margin-top: 0px;
        margin-left: 0px;
      }
      .sportsrow3{
        margin-top: 0px;
        margin-left: 0px;
      }
      .sportsrow4{
        margin-top: 50px;
        margin-left: 0px;
      }
      .sportsrow5{
        margin-top: 50px;
        margin-left: 0px;
      }
      .sportsrow6{
        margin-top: 50px;
        margin-left: 0px;
      }
      .sportsrow7{
        margin-top: 50px;
        margin-left: 0px;
      }
      .sportsrow8{
        margin-top: 50px;
        margin-left: 0px;
      }
      .wdrow1{
         margin-top: 0px;
         margin-left: 0px;
      }
      .wdrow2{
        margin-top: 0px;
        margin-left: 0px;
      }
      .wdrow3{
         margin-top: 0px;
         margin-left: 0px;
      }
      .smrow1{
         margin-top: 0px;
         margin-left: 0px;
      }
      .smrow2{
         margin-top: 0px;
         margin-left: 0px;
      }
      .smrow3{
         margin-top: 0px;
         margin-left: 0px;
      }
      .smrow4{
         margin-top: 50px;
         margin-left: 0px;
      }
      .smrow5{
         margin-top: 50px;
         margin-left: 0px;
      }
      .back-button{
         margin-left: 0px;
      }
}

@media (min-width: 992px) {
      .jaredrow4{
         margin-top: 50px;
      }
      .jaredrow5{
         margin-top: 50px;
      }
}

@media (min-width: 1200px) {
      .jaredrow4 {
        margin-top: 50px;
      }
      .jaredrow5 {
         margin-top: 50px;
       }
}

.img_jared1 {
   width: 270px;
}

.img_jaredsm {
   width: 270px;
}
.img_jaredstocks {
   height: 260px;
}
.img_jaredsports:hover, .img_jaredsm:hover, .img_jaredweb:hover, .img_jaredport:hover, .img_jaredschool:hover, .img_jaredstocks:hover {
   opacity: .75;
   transform: scale(1.04);
}

.img_jaredweb {
   width: 290px;
}

.img_jaredport {
    width: 290px;
    height: 260px;
}
.divImage1 {
   width: 280px;
   height: 280px;
   background: url('../images/Papers-Electric2.png') no-repeat;
   margin: auto;
} 
.divImage2 {
   width: 280px;
   height: 280px;
   background: url('../images/Papers-Electric1.png') no-repeat;
   margin: auto;
}

#togglebutton1 {
   float: right;
   margin-right: 30px;
}

#togglebutton2 {
   float: right;
   margin-right: 30px;
}

#togglebutton3 {
   float: right;
   margin-right: 50px;
}

#togglebutton1:hover {
   transform: scale(1.1);
}

#togglebutton2:hover {
   transform: scale(1.1);
}

#togglebutton3:hover {
   transform: scale(1.1);
}

.back-button:hover {
   transform: scale(1.1);
}


footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.fbimg:hover {
   opacity: .75;
}
.linkedinimg:hover {
   opacity: .75;
}
.twitterimg:hover {
   opacity: .75;
}
.igimg:hover {
   opacity: .75;
}


.footer1 {
   position: relative;
   bottom: 0;
   width: 100%;
   text-align: center;
}

hr.one {
    border: none;
    height: 10px;
}

/* .display-6 {    
    margin-left: 30px;    
    background-color: #4AAAA5;    
    color: #fff;    
    text-align: center;    
    margin-bottom: 0px;       
    padding: 14px;
}

/*
background-color: #4AAAA5; 