
.carousel {
    display: inline-block;
    align-items: center;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    object-fit: cover;
    height: 80%;
}

.carousel__image {
        width: 80%;
        height: 80%;
        object-fit: cover;
        /* width: 100%;
        height: 100%; */
}

.carousel__track-container {
    background: rgba(255,0,0,0.5);
    padding: 10px;
    height: 100%;
    position: relative;
}
/* .size_div {
    position: relative;
    top: 10px; left: 10px; right: 10px; bottom: 10px;
} */

.carousel__track {
    padding: 0;
    margin: 0;
    list-style: none;
}
.carousel__slide {
    position: relative;
    top: 0;
    bottom: 0;
    width: 100%;
}
.carousel__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    cursor: pointer;
}
.carousel__button--left {
    left: -40px;
}
.carousel__button--right {
    left: -40px;
}
.carousel__button img {
    width: 12px;
}
.carousel__nav {
    display: flex;
    justify-content: center;
    padding: 15px 15px;
}
.carousel__indicator {
    border: 0;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: rgb(0,0,0,.3);
    padding: 15px 15px;
    margin: auto 0 20px;
}
.carousel__indicator.current-slide {
    background: rgb(0,0,0,.75);
}
